.body {
  color: #08102d;
  position: relative;
  height: 42rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  .main {
    margin-top: 4rem;
    margin-left: 2%;
    width: 96%;
    max-width: 800px;
    height: 70%;

    .maintext {
      color: #08102d;
      letter-spacing: -0.02em;
      font-family: "Karla";
      font-style: normal;
      font-weight: 900;
      font-size: 71px;
      margin-bottom: 0.2em;

      @media screen and (max-width: 1325px) {
        font-size: 60px;
        width: 80%;
      }
      @media screen and (max-width: 597px) {
        width: 90%;
        font-size: 55px;
      }
      @media screen and (max-width: 435px) {
        width: 99%;
        font-size: 50px;
      }
    }
    .sectext {
      width: 70%;
      max-width: 560px;
      font-family: "Karla";
      font-style: normal;
      font-weight: 500;
      font-size: 19.5px;
      letter-spacing: 0.01em;
      color: #6e6e71;
      line-height: 30px;
      margin: 0;

      @media screen and (max-width: 1325px) {
        font-size: 15px;
      }
      @media screen and (max-width: 435px) {
        width: 80%;
        font-size: 13px;
      }
    }

    .cta_body {
      display: flex;
      width: 60%;
      margin-top: 1rem;
      justify-content: space-between;
      flex-wrap: wrap;

      .cta1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        background: #045c58;
        border-radius: 6px;
        color: #fff;
        border: none;
        width: 40%;
        max-width: 340px;
        height: 3.3rem;
        font-size: 1rem;
        cursor: pointer;

        @media screen and (max-width: 713px) {
          width: 43%;
        }
        @media screen and (max-width: 435px) {
          width: 46%;
        }
        @media screen and (max-width: 385px) {
          width: 99%;
          margin-bottom: 1rem;
        }
      }
      .cta2 {
        @extend .cta1;
        background: #cdfcfa;
        border: 1.5px solid #045c58;
        color: #045c58;
      }

      @media screen and (max-width: 705px) {
        width: 70%;
      }
      @media screen and (max-width: 567px) {
        width: 80%;
      }
      @media screen and (max-width: 469px) {
        width: 90%;
      }
      @media screen and (max-width: 435px) {
        width: 98%;
        justify-content: center;
      }
    }
  }

  .himage {
    position: absolute;
    bottom: 0;
    right: 1rem;
    height: 90%;
    z-index: -2;

    @media screen and (max-width: 1325px) {
      bottom: 2rem;
      right: -5%;
    }
    @media screen and (max-width: 993px) {
      height: 84%;
      bottom: 2rem;
      right: -20%;
    }
    @media screen and (max-width: 857px) {
      height: 84%;
      bottom: 2rem;
      right: -30%;
    }
    @media screen and (max-width: 779px) {
      height: 84%;
      bottom: 2rem;
      right: -40%;
    }
    @media screen and (max-width: 597px) {
      height: 84%;
      bottom: 2rem;
      right: -80%;
    }
    @media screen and (max-width: 455px) {
      height: 84%;
      bottom: 2rem;
      right: -90%;
    }
    @media screen and (max-width: 435px) {
      display: none;
    }
  }

  @media screen and (max-width: 369px) {
    height: auto;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;

  .fcont {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #08102d;
    letter-spacing: 0.01em;

    img {
      width: 2rem;
    }
    h3 {
      font-weight: 600;
      font-size: large;
      margin: 0.2rem 0;
    }
    p {
      width: 90%;
      text-align: center;
    }

    @media screen and (max-width: 925px) {
      width: 250px;
    }
    @media screen and (max-width: 773px) {
      width: 90%;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #045c587e;

      &:first-child {
        border-top: 1px solid #045c587e;
      }
    }
  }

  @media screen and (max-width: 773px) {
    justify-content: center;
  }
}
