@import url("https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@300&display=swap");
* {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.navcover {
  max-width: 1600px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  background-color: #fff;
  padding-top: 0.5rem;
}

.navcover .n_body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  position: relative;
  padding: 0 2%;
}

.navcover .n_body .n_logo {
  font-family: "Poppins", sans-serif;
  color: #00c7be;
  font-size: 30px;
  font-weight: 800;
  justify-self: flex-start;
}

.navcover .n_body .menub {
  cursor: pointer;
  font-size: 2rem;
  color: #045c58;
  display: none;
}

@media screen and (max-width: 650px) {
  .navcover .n_body .menub {
    display: block;
  }
}

.navcover .n_body .n_ul {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  max-width: 650px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navcover .n_body .n_ul li {
  list-style-type: none;
  font-size: 18px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navcover .n_body .n_ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #08102d;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 650px) {
  .navcover .n_body .n_ul li {
    height: 3rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.405);
  }
  .navcover .n_body .n_ul li div {
    display: none !important;
  }
  .navcover .n_body .n_ul li a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 730px) {
  .navcover .n_body .n_ul {
    width: 65%;
  }
}

@media screen and (max-width: 650px) {
  .navcover .n_body .n_ul {
    display: block;
    position: absolute;
    background-color: #045c58;
    right: 0;
    top: 3rem;
    width: 50vw;
    height: calc((100vh) - 3rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
  }
  .navcover .n_body .n_ul li a {
    color: #fff;
  }
  .navcover .n_body .n_ul .nd2 {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .navcover .n_body .n_ul {
    width: 85vw;
  }
}

.navcover .n_body .n_download {
  margin-right: 5px;
  width: 20%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  color: #ffffff;
  font-size: 15px;
  border-radius: 6px;
  max-width: 220px;
  background-color: #045c58;
  border: none;
  cursor: pointer;
  justify-self: flex-end;
}

.navcover .n_body .n_download:hover {
  background-color: #cdfcfa;
  border: 1px solid #045c58;
  color: #045c58;
}

@media screen and (max-width: 742px) {
  .navcover .n_body .n_download .n_d_t {
    display: none;
  }
}

.navcover .n_body .n_download .n_d_i {
  display: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 742px) {
  .navcover .n_body .n_download .n_d_i {
    display: block;
  }
}

@media screen and (max-width: 742px) {
  .navcover .n_body .n_download {
    width: 42px;
  }
}

@media screen and (max-width: 650px) {
  .navcover .n_body .n_download {
    display: none;
  }
}

.navcover .n_body .n_marketp,
.navcover .n_body .n_hiw,
.navcover .n_body .n_about,
.navcover .n_body .n_blog {
  border: none;
  position: relative;
  top: 4%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 0%;
  border-radius: 10px;
}

.navcover .n_body .n_show {
  width: 80%;
  border: 1px solid #045c58;
}

.navcover .nav_h {
  width: 60%;
}

@media screen and (max-width: 730px) {
  .navcover .nav_h {
    width: 65%;
  }
}

@media screen and (max-width: 650px) {
  .navcover .nav_h {
    width: 0% !important;
    border: none;
  }
}

.ft {
  -ms-flex-item-align: start;
      align-self: flex-start;
  left: 1rem;
  position: absolute;
}

@media screen and (max-width: 710px) {
  .ft {
    top: 0.2rem;
    left: auto;
    margin-bottom: 5rem;
  }
}
/*# sourceMappingURL=navbar.css.map */